
body {
  background-color: rgb(55, 57, 57);
  color: rgb(233, 233, 233);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400; 
}

h1, h2 {
  font-weight: 500; 
}

h3, h4 {
  font-weight: 300;
}

p {
  font-weight: 100; 
}